body {
    font-size: 14px;
    background-color: #f2f3f3;
    color: black;

    background: white;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid #2200ff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    line-height: 24px;
    padding: 30px;
}
input {
width: 100%;
    font-size: 18px;
    color: blue;
}
 label{
    width: 100%;
    margin:0;
}
textarea {
    width: 100%;
    margin:0;
}
select {
    width: 100%;
    margin:0;
}

